html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/*        Container styles       */
.container {
    width: 900px;
    margin: 0 auto;
}


/*        Menu styles            */
nav.menu {
    padding: 74px 165px 98px 165px;
}

ul.navigation {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;


}

.navigation a {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    text-decoration: none
}

a:hover {
    color: #03a9f4;
}

.navigation li:not(:last-child) {
    margin: 0 100px 0 0;
}


/*         Article styles         */

div.article {
    display: inline-block;
    height: auto;
    width: 420px;
}

.left {
    margin-right: 56px;
}

article > h3 {
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu";
    font-weight: 300;
    padding: 14px 0 0 0;
}

article > h2 {
    font-size: 30px;
    color: #626262;
    font-family: "Playfair Display";
    margin-top: 21px;
}

article > p {
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
    margin-top: 30px;
}

div.row {
    margin-bottom: 108px;
}

div.button {
    font-size: 20px;
    line-height: 55px;
    color: #626262;
    font-family: "Playfair Display";
    border: 1px solid #626262;
    width: 165px;
    height: 60px;
    margin: 0 auto;
    margin-top: -64px;
    text-align: center;
}


/*            Footer               */
div.footer {
    height: 70px;
}
