html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}


/*        Container styles       */


.container {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}



/*        Menu styles            */
nav.menu {
    padding: 75px 165px 100px 165px;
}


ul.navigation {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin: 0;

}

.navigation li:not(:last-child) {
    margin: 0 100px 0 0;
}

.navigation a {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #03a9f4;
}



/*         Article styles         */


.visually-hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
}

.article {
    display: inline-block;
    height: auto;
    width: 420px;
}

.image {
    margin-bottom: 30px;
}


.tag {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu";
    font-weight: 300;
}

article > h2 {
    font-size: 30px;
    color: #626262;
    font-family: "Playfair Display";
    margin: 0 0 29px 0;
}

.article-text {
    padding: 0;
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display";
}

.container li {
    list-style: none;
    display: inline-block;
}

.left {
    margin-right: 60px;
}

.container ul {
    padding: 0;
    margin: 0;
}

.container img {
    width: 420px;
    height: 280px;
}

main ul > li:nth-child(n):not(:nth-last-child(-n+2)) {
    margin-bottom: 128px;
}

section {
    margin-bottom: 30px;
}

button {
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    background-color: #ffffff;
    font-family: 'Playfair Display', serif;
    border: 1px solid #626262;
    padding: 22px 35px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


button:hover {
    color: #626262;
}
