@import "./reset.css";

:root {
  --color-green: #95e1d3;
  --color-red: #ff9999;
  --color-orange: #fce38a;
  --color-white: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEDER */

.header {
  min-height: 1000px;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 23px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.site-navigation__logo {
  font-family: Montserrat;
  color: var(--color-white);
  font-size: 1.875rem;
  font-weight: 700;
  display: block;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 620px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-menu__link svg {
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--color-white);
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.navigation-menu__link {
  display: block;
  font-size: 14px;
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90px;
}

.navigation-menu .navigation-menu__link:hover {
  -webkit-transition-property: color;
  transition-property: color;
  color: var(--color-orange);
}

.navigation-menu .navigation-menu__link:hover svg {
  -webkit-transition-property: fill;
  transition-property: fill;
  fill: var(--color-orange);
}

.navigation-menu a::after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 3px solid var(--color-orange);
  margin-top: 8px;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.navigation-menu a:hover::after {
  -webkit-transition-property: width;
  transition-property: width;
  width: 100%;
}

.hero {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 160px;
}

.hero__over-title {
  font-family: "Kaushan Script";
  color: #ffffff;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.hero__title {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 0.933;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 108px;
}

.hero__btn {
  display: block;
  font-family: Montserrat;
  color: var(--color-white);
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.9rem;
  border: 3px solid var(--color-white);
  width: 160px;
  height: 40px;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
}

.header__btn:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: var(--color-orange);
  border: 3px solid var(--color-orange);
}

/*  SERVICES  */
.services {
  padding-top: 48px;
  padding-bottom: 10px;
}

.services__over-title {
  text-align: center;
  margin: 0 0 11px 0;
  padding: 0;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.services__title {
  text-align: center;
  margin-bottom: 62px;
  padding: 0;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.services__title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 35px auto 0;
  border-bottom: 4px solid var(--color-red);
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.services__item {
  width: 336px;
  padding-left: 56px;
  position: relative;
}

.services__item:not(:nth-last-of-type(-n + 3)) {
  margin-bottom: 91px;
}

.services__icon::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
}

.services__icon--photo::before {
  background-image: url(../icons/ALARM.png);
}

.services__icon--web::before {
  background-image: url(../icons/LINE%20GRAPH.png);
}

.services__icon--creativity::before {
  background-image: url(../icons/COMPUTER%20_%20OK.png);
}

.services__icon--seo::before {
  background-image: url(../icons/BOOK%202.png);
}

.services__icon--html::before {
  background-image: url(../icons/HOME.png);
}

.services__icon--digital::before {
  background-image: url(../icons/IMAGE.png);
}

.services__card-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 12px;
}

.services__card-desc {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}

/* TEAM SECTION */
.team {
  padding-top: 80px;
  padding-bottom: 80px;
}

.team__over-title {
  text-align: center;
  margin: 0 0 11px 0;
  padding: 0;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

.team__title {
  text-align: center;
  margin-bottom: 40px;
  padding: 0;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.team__title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 35px auto 0;
  border-bottom: 4px solid var(--color-red);
}

.team__desc {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto 90px;
  width: 940px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-list__item {
  width: 380px;
  /*    height: 540px;*/
  position: relative;
}

.overflow {
  width: 380px;
  height: 470px;
  position: absolute;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(251, 227, 137, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(251, 227, 137, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  opacity: 0;
  z-index: 1;
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px rgba(149, 225, 211, 1);

  -webkit-transition: opacity 0.2s linear;

  transition: opacity 0.2s linear;
}

.overflow:hover {
  -webkit-transition: background-color opacity;
  transition: background-color opacity;
  opacity: 1;
}

.overflow__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overflow__item {
  width: 55px;
  height: 55px;
}

.overflow__item:not(:last-of-type) {
  border-right: 1px solid var(--color-red);
}

.overflow__link {
  width: 100%;
  height: 100%;
  background-color: #fce38a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.overflow__link svg {
  fill: var(--color-red);
  height: 60%;
  width: 60%;
}

.overflow__link:hover {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  background-color: var(--color-red);
}

.overflow__link:hover svg {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
  fill: var(--color-white);
}

.facebook {
  background-image: url(../icons/facebook.png);
}

.twitter {
  background-image: url(../icons/twitter.png);
}

.pinterest {
  background-image: url(../icons/pinterest.png);
}

.instagram {
  background-image: url(../icons/instagram.png);
}

.team-list__photo {
  height: 470px;
  margin-bottom: 29px;
}

.team-list__img {
  height: 470px;
  width: 100%;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
}

.overflow:hover + .team-list__photo .team-list__img {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team-list__name {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.team-list__desc {
  font-size: 15px;
  line-height: 34px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

/*       Footer       */
.footer {
  border-top: 1px solid #e5e5e5;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.copyright__info {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.copyright__link {
  color: var(--color-red);
  display: inline-block;
}

.subscribtion__input {
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
}

.subscribtion__btn {
  border: none;
  padding: 0;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url("../img/banner@2x.jpg");
  }
}
