:root {
    --color-green: rgb(26, 188, 156);
    --color-white: rgb(255, 255, 255)
}

html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*            Container                 */
.container {
    width: 1140px;
    margin: 0 auto;
    font-family: "OpenSans", sans-serif;
    padding: 0 15px;

}

.container li {
    list-style: none;
}

main {}

h2 {
    margin: 0;
    padding: 0;
}


/*       Navigation and logo            */

.site-logo {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 1.067;
    color: #515151;
}

.menu {
    float: right;
}

.site-logo::first-letter {
    color: var(--color-green);
    font-weight: bold;
}

.site-navigation ul {
    padding: 0;
    margin: 10px 0 0 0;
}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 26px;
}

.menu a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.menu a:hover {
    color: var(--color-green);
}

.header {
    background-color: var(--color-white);
    height: 90px;
    padding-top: 29px
}


/*         Slider section             */
.slider {
    position: relative;
    min-height: 600px;
    width: 100%;
    background-image: url("../img/slide4-1.png");
    object-fit: cover;
    filter: brightness(60%);
}

.slider-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider-list-item p {
    padding: 0;
    margin: 0;
}

.slider-photo {
    height: 600px;
    width: 100%;

}

.slider-buttons {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    width: 104px;
    height: 104px;
    background-color: rgb(26, 188, 156);
    color: #ffffff;
    opacity: 0.8;
    font-size: 100px;
}

.slider-button-left {
    /*    left: 245px;*/
    left: 0;
}


.slider-button-left::before,
.slider-button-right::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.slider-button-left::before {
    background-image: url("../icons/left-arrow.png");
}

.slider-button-right {
    right: 0;
}

.slider-button-right::before {

    background-image: url("../icons/right-arrow.png");
}

.slider-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1110px;
    height: 104px;
    z-index: 1;
}

.slider-item-text {
    position: absolute;
    top: 208px;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    height: 110px;
    text-transform: uppercase;

}

.slider-item-title {
    font-size: 60px;
    letter-spacing: -1px;
    color: var(--color-white);
    font-family: "Roboto";
    font-weight: 800;
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.slider-item-text .slider-item-descr {
    margin-top: 20px;
    font-size: 23px;
    /*    letter-spacing: 1px;*/
    color: var(--color-white);
    font-family: "Roboto";
    text-align: left;
    font-weight: 100;
}


/*         Shop Section               */

.shop {
    padding-bottom: 100px;
    padding-top: 103px;
    background-color: rgb(233, 240, 253);

}

.shop-section-title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #515151;
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    letter-spacing: -1px;
}

.shop-section-title {
    margin-bottom: 80px;
}

.shop-section-title::after {
    content: "";
    display: block;
    width: 165px;
    border-bottom: 8px solid var(--color-green);
    margin: 0 auto;
    margin-top: 32px;
}

.shop-items {
    padding: 0;
    margin: 0;
}

.shop-items > li {
    float: left;
    /*    cursor: pointer;*/
    background-color: var(--color-white);
    position: relative;
}

.shop-items > li:not(:nth-child(4n)) {
    margin-right: 30px;
}

.shop-items > li:not(:nth-last-child(-n+4)) {
    margin-bottom: 32px;
}

.shop-item {
    width: 255px;
    height: 322px;
    /*    cursor: pointer;*/
}

.product-photo {
    width: 255px;
    height: 282px;
}

.product-img {
    display: block;
    margin: 0 auto;
    width: 255px;
    height: 282px;
    object-fit: contain;
}

.overlay {
    width: 100%;
    min-height: 282px;
    background-color: rgba(50, 50, 50, 0.6);
    position: absolute;
    border: 10px solid rgba(255, 255, 255, 0.8);
    visibility: hidden;
}

.shop-items-overlay-icons {
    height: 108px;
    width: 166px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
}


.shop-items-overlay-icons li {
    display: inline-block;
    border: 1px solid var(--color-white);
    cursor: pointer;
}

.shop-items-overlay-icons li:hover {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.shop-items-overlay-icons a {
    display: block;
    text-decoration: none;
}


.top-icons {
    width: 50px;
    height: 50px;
    margin-bottom: 6px;
}

.heart {
    margin-right: 8px;
    background-image: url("../icons/heart.png");
    background-repeat: no-repeat;
    background-position: center;
}

.arrows {
    margin-right: 8px;
    background-image: url("../icons/arrows.png");
    background-repeat: no-repeat;
    background-position: center;
}

.clock {
    background-image: url("../icons/clock.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cart-section {
    height: 50px;
    width: 166px;
    background-color: rgba(50, 50, 50, 1);
}

.cart-icon {
    display: inline-block;
    background-image: url("../icons/cart.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 48px;
    width: 50px;
}

.cart-text {
    height: 48px;
    width: 112px;
    float: right;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 48px;
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;

}

.product-name-price {
    background-color: rgba(50, 50, 50, 1);
}

.product-name {
    height: 40px;
    width: 200px;
    float: left;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding: 0 0 0 14px;
    line-height: 40px;
}

.product-price {
    height: 40px;
    width: 55px;
    float: right;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}


.shop-items li:hover > .product-name-price {
    background-color: var(--color-green);
}

.shop-items li:hover > .overlay {
    visibility: visible;
}

/*        Footer         */
.footer-bottom {
    width: 100%;
    height: 88px;
    background-color: #323232;
}

.copyright {
    margin: 0;
    padding: 30px 0;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #fefefe;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.copyright a {
    color: var(--color-green);
    text-decoration: none;
}


.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
