/* MOBILE */
@media (max-width:767px) {

    .header {
        height: 540px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background1.jpg");
        background-repeat: no-repeat;
        padding-top: 30px;
    }

    .navigation {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 160px;
    }

    .hero-text {
        margin-top: 30px;
        margin-bottom: auto;
    }

}

/* TABLET */
@media (min-width: 768px) and (max-width:959px) {


    .container {
        /*        width: 660px;*/
        margin: 0 auto;
    }

    /* Header */
    .header {
        min-height: 700px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background2.jpg");
        background-repeat: no-repeat;
        padding-top: 46px;

    }

    .navigation {
        display: flex;
        justify-content: space-between
    }




    .header-title {
        font-size: 3.248rem;
        width: 80%;
        margin: 0 auto 40px;
    }


    .header-desc {
        font-size: 1.499rem;
    }

    /*  SECTION  */
    .partner-list {

        padding: 20px 0;
    }

    .partner-item:not(:nth-of-type(2n)) {
        margin-bottom: 40px
    }


    .orange-bulb {
        order: 1;
    }

    .violet-plane {
        order: 2;
    }
}


/* DESKTOP */
@media (min-width:960px) {

    .container {

        /*        width: 942px;*/
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        min-height: 700px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background3.jpg");
        padding-top: 46px;

    }

    .header-title {
        font-size: 3.248rem;
        max-width: 540px;
        margin: 0 auto 40px;
    }


    .header-desc {
        font-size: 1.499rem;
    }


    .navigation {
        display: flex;
        justify-content: space-between;

    }


    /*  SECTION  */
    .partner-list {}

    .partner-item {
        min-width: 230px;

    }



    .partner-item:hover {
        transition: all 0.3s linear;
        box-shadow: 0 5px 17px 0 rgba(0, 0, 0, .3);

    }

    .orange-bulb {
        order: 1;
    }

    .violet-plane {
        order: 2;
    }
}
